html{
  scroll-behavior:smooth;
}
.heading{
  color:#f0492f;
  font-size:20px;
  font-weight: bold;
  margin-top:50px;
}


.main_heading{
  color:#f0492f;
  font-size: 30px;
}
.header{
  margin:15% 40px 0% 40px;
  height:100vh;

}
.contact_details{
  display:flex;
  flex-wrap:wrap;
}
.contact_details p {
  padding:5px;
}
.experience_post{
  font-weight:bold;
  font-size:18px;
  color:#679876;
}
.experience_details{
  text-align:justify;
}
.container{
  margin:40px;
}
.primary_button{
  float:right;
  padding:12px;
  width:120px;
  color:#161616;
  background-color:#f0492f;
  border-radius:20px;
  text-decoration: none;
  animation:move 3s;

}
.primary_button:hover{
    transform: scale(1.1);
  }
.education{
  margin-top:30px;
}
.courseName{
  font-weight:bold;
  font-size:18px;
  color:#679876;
}
.time{
  font-style:italic;
  font-size:14px;
}


body{
  background-color:black;
  color:rgb(209,200,188);
  font-family:roboto,sans-serif;
}

@keyframes move{
  from{margin-right:100%;}
  to{margin-left:0%}
}



@media (max-width:500px){
  .header_image{
    overflow:hidden;
    width:auto;
  }
}
