.heading{
  color:#0C9ED4;
  font-size:20px;
}
.main_heading{
  color:#0C9ED4;
  font-size: 30px;
}
.contact_details{
  display:flex;
  flex-wrap:wrap;
}
.contact_details p {
  padding:5px;
}
.experience{
  display:flex;
  justify-content: flex-start;
  padding:0;
  margin:0;
  justify-content: flex-start;
  flex-wrap:wrap;
}
.experience p {
  padding:5px;

}
.post{
  font-weight: bold;
}
.expdate{
  color:#0C9ED4;
  margin-left:5px;
}
.container{
  margin:40px
}
